# node_modules
# .next
# Dockerfile
# .dockerignore
# ./src/.env
# .env*
# !.env.production
# *.log
# .git
# .vscode
# .idea
# README.md





Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
docker
.git
